@import '../../Styles/mixin';
@import '../../Styles/variable';
.TaskWrapper {
    width: 90%;
    height: 90px;
    background: $white-color;
    @include Flex(flex-start, center);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.13), 0 1px 3px rgba($color: #000000, $alpha: 0.26);
    position: relative;
    margin: 5px;
    color: #A5AFB7;
    &:hover {
        background: linear-gradient(270deg, #feeae9, #fff 80.96%);
    }
}

.TaskIcons {
    width: 30%;
    height: 100%;
    @include Flex(center, center);
    flex-direction: column;
    position: relative;
    &:first-child div {
        top: 0px;
        left: 0px;
        &>svg {
            &:first-child circle {
                stroke-width: 3px;
            }
        }
    }
    // &:hover {
    //     background: linear-gradient(270deg, #feeae9, #fff 80.96%);
    // }
}

.iconWrapper {
    position: absolute;
    position: absolute;
    transform: translate(-1%, 1%);
    font-size: 2.4rem;
    width: 74%;
    height: 79%;
    // background: dodgerblue;
    border-radius: 50%;
    @include Flex(center, center);
    color: #A5AFB7;
    transition: color $transition;
    border: 2px solid #A5AFB7;
    &.compelete {
        color: $primary-color-dark1;
        transition: color $transition;
    }
}

.TaskContent {
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0 10px;
}

.Task {
    & p {
        &:first-child {
            color: #000;
        }
        &:last-child {
            font-size: 1.3rem;
        }
    }
    &_active {
        & p {
            &:first-child {
                color: #A5AFB7;
            }
        }
        text-decoration: $primary-color-dark1 line-through 1px;
    }
}

.TaskDate {
    font-size: 1.4rem;
}

.MngTask {
    width: 100%;
    height: 30px;
    @include Flex(space-between, center);
    & button {
        all: unset;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        color: rgba($color: #000000, $alpha: 0.5);
        @include Flex(space-around, center);
        font-size: 1.8rem;
        &:hover {
            background-color: #E4E9ED;
        }
    }
}