@mixin Flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

%Befor_After_container {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    opacity: 1;
}

@mixin Transition($proprety) {
    transition: $proprety $transition;
}

%commonOverlay {
    width: 90%;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 22px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    padding: 0 8px;
    flex-direction: column;
}

@mixin ProgressBar($top, $left) {
    position: relative;
    width: 104px;
    height: 100px;
    margin: 1em;
    transform: rotate(-90deg);
    top: $top;
    left: $left;
}