@import url("https://v1.fontapi.ir/css/Shabnam");
$font-family: "Shabnam",
sans-serif;
$bg-color: #f6f5f7;
$white-color: #ffffff;
$text-overlay: #ede2cf;
$primary-color: #f5534f;
$primary-color-dark1: #9c496b;
$secondary-color: #313a87;
$outline-color: #ededed;
$placeholder-color: #a5afb7;
$categories-colors: #00c7c7,
#f2d06c,
#0253b3,
#ca89fc;
$colors: ( 1: #fbc531,
2: #00c7c7,
3: #f2d06c,
4: #313a87,
5: #ca89fc,
);
$transition: 0.6s ease-in-out;
$breakpoint-mobile-min: 320px;
$breakpoint-mobile-max: 480px;
$breakpoint-tablet-mmin: 481px;
$breakpoint-tablet-max: 768px;
$breakpoint-smallscreen-min: 769px;
$breakpoint-smallscreen-max: 1024px;
$breakpoint-lagescreen-min: 1025px;
$breakpoint-lagescreen-max: 1200px;