/* $porcent-vue: 2; */

@import '../../Styles/mixin';
@import '../../Styles/variable';
$porcent-vue: 100;
$color-vue: hsl(342, 56%, 46%);
.progressbar {
    @include ProgressBar(-32px, 30px);
    z-index: 4;
    &__svg {
        position: relative;
        width: 100%;
        height: 100%;
        &_circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 6px;
            stroke-dasharray: 440;
            stroke-dashoffset: 440;
            stroke: hsl(327, 59%, 39%);
            stroke-linecap: round;
            transform: translate(1px, -2px);
        }
    }
}

@function strokeDashoffset($num) {
    @return 440 - (440 * $num) / 100;
}

.circle_forward {
    animation: anim_circle-vue 1s ease-in-out forwards;
}

@keyframes anim_circle-vue {
    to {
        stroke-dashoffset: strokeDashoffset($porcent-vue);
    }
}

.circle_backward {
    animation: backward 1s ease-in-out forwards;
}

@keyframes backward {
    from {
        stroke-dashoffset: strokeDashoffset(100);
    }
    to {
        stroke-dashoffset: strokeDashoffset(0);
    }
}